Exercise, ETL of a hotel data

In [43]:
# The necessary libraries are imported to apply the functions
import pandas as pd
import numpy as np

In [44]:
# Open the file
dfHotelBooking = pd.read_csv("hotel_bookings.csv")

In [45]:
# See the data
dfHotelBooking.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [46]:
# See the info data
dfHotelBooking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [47]:
# See the name of 32 columns
dfHotelBooking.columns.values

array(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'], dtype=object)

In [48]:
# See some columns
print(dfHotelBooking['adr'])

0           0.00
1           0.00
2          75.00
3          75.00
4          98.00
           ...
119385     96.14
119386    225.43
119387    157.71
119388    104.40
119389    151.20
Name: adr, Length: 119390, dtype: float64

In [49]:
dfHotelBooking['adr'].isnull().sum()

0

In [50]:
print(dfHotelBooking['adults'])

0         2
1         2
2         1
3         1
4         2
         ..
119385    2
119386    3
119387    2
119388    2
119389    2
Name: adults, Length: 119390, dtype: int64

In [51]:
print(dfHotelBooking['children'])

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: children, Length: 119390, dtype: float64

In [52]:
dfHotelBooking['children'].unique()

array([ 0.,  1.,  2., 10.,  3., nan])

In [53]:
print(dfHotelBooking['babies'])

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: babies, Length: 119390, dtype: int64

In [54]:
dfHotelBooking['babies'].unique()

array([ 0,  1,  2, 10,  9], dtype=int64)

In [55]:
dfHotelBooking['country'].unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [56]:
dfHotelBooking['company'].unique()

array([ nan, 110., 113., 270., 178., 240., 154., 144., 307., 268.,  59.,
       204., 312., 318.,  94., 174., 274., 195., 223., 317., 281., 118.,
        53., 286.,  12.,  47., 324., 342., 373., 371., 383.,  86.,  82.,
       218.,  88.,  31., 397., 392., 405., 331., 367.,  20.,  83., 416.,
        51., 395., 102.,  34.,  84., 360., 394., 457., 382., 461., 478.,
       386., 112., 486., 421.,   9., 308., 135., 224., 504., 269., 356.,
       498., 390., 513., 203., 263., 477., 521., 169., 515., 445., 337.,
       251., 428., 292., 388., 130., 250., 355., 254., 543., 531., 528.,
        62., 120.,  42.,  81., 116., 530., 103.,  39.,  16.,  92.,  61.,
       501., 165., 291., 290.,  43., 325., 192., 108., 200., 465., 287.,
       297., 490., 482., 207., 282., 437., 225., 329., 272.,  28.,  77.,
       338.,  72., 246., 319., 146., 159., 380., 323., 511., 407., 278.,
        80., 403., 399.,  14., 137., 343., 346., 347., 349., 289., 351.,
       353.,  54.,  99., 358., 361., 362., 366., 372., 365., 277., 109.,
       377., 379.,  22., 378., 330., 364., 401., 232., 255., 384., 167.,
       212., 514., 391., 400., 376., 402., 396., 302., 398.,   6., 370.,
       369., 409., 168., 104., 408., 413., 148.,  10., 333., 419., 415.,
       424., 425., 423., 422., 435., 439., 442., 448., 443., 454., 444.,
        52., 459., 458., 456., 460., 447., 470., 466., 484., 184., 485.,
        32., 487., 491., 494., 193., 516., 496., 499.,  29.,  78., 520.,
       507., 506., 512., 126.,  64., 242., 518., 523., 539., 534., 436.,
       525., 541.,  40., 455., 410.,  45.,  38.,  49.,  48.,  67.,  68.,
        65.,  91.,  37.,   8., 179., 209., 219., 221., 227., 153., 186.,
       253., 202., 216., 275., 233., 280., 309., 321.,  93., 316.,  85.,
       107., 350., 279., 334., 348., 150.,  73., 385., 418., 197., 450.,
       452., 115.,  46.,  76.,  96., 100., 105., 101., 122.,  11., 139.,
       142., 127., 143., 140., 149., 163., 160., 180., 238., 183., 222.,
       185., 217., 215., 213., 237., 230., 234.,  35., 245., 158., 258.,
       259., 260., 411., 257., 271.,  18., 106., 210., 273.,  71., 284.,
       301., 305., 293., 264., 311., 304., 313., 288., 320., 314., 332.,
       341., 352., 243., 368., 393., 132., 220., 412., 420., 426., 417.,
       429., 433., 446., 357., 479., 483., 489., 229., 481., 497., 451.,
       492.])

In [57]:
# See nulls
dfHotelBooking.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [58]:
# Replace nulls with zeros
dfHotelBooking.fillna(0, inplace=True)

In [59]:
dfHotelBooking.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [60]:
# The data type is changed
dfHotelBooking['children'] = dfHotelBooking['children'].values.astype(int)
dfHotelBooking['adults'] = dfHotelBooking['adults'].values.astype(int)
dfHotelBooking['babies'] = dfHotelBooking['babies'].values.astype(int)

In [61]:
# A new column is created
# the total of people column is created, which will be the sum of the amount of each group of people
dfHotelBooking['Amount of people'] = dfHotelBooking['babies'] + dfHotelBooking['children'] + dfHotelBooking['adults']

In [62]:
dfHotelBooking["market_segment"].unique()

array(['Direct', 'Corporate', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Undefined', 'Aviation'], dtype=object)

In [63]:
# Replace one value with another
# The term “TA” is “Travel Agents” and “TO” is “Tour Operators”
dfHotelBooking["market_segment"].replace({"Online TA": "Online Travel Agents", "Offline TA/TO": "Off Travel Agents/Tour Operators "}, inplace=True)

In [64]:
dfHotelBooking

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Amount of people
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0.0,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01,2
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0.0,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01,2
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0.0,0.0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,304.0,0.0,0,Transient,75.00,0,0,Check-Out,2015-07-02,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,240.0,0.0,0,Transient,98.00,0,1,Check-Out,2015-07-03,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,394.0,0.0,0,Transient,96.14,0,0,Check-Out,2017-09-06,2
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,9.0,0.0,0,Transient,225.43,0,2,Check-Out,2017-09-07,3
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,9.0,0.0,0,Transient,157.71,0,4,Check-Out,2017-09-07,2
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,89.0,0.0,0,Transient,104.40,0,0,Check-Out,2017-09-07,2
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,9.0,0.0,0,Transient,151.20,0,2,Check-Out,2017-09-07,2

In [65]:
# The names of the columns (headers) are taken to pass them through the melt
data_top = list(dfHotelBooking.columns.values)

data_top

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'market_segment',
 'distribution_channel',
 'is_repeated_guest',
 'previous_cancellations',
 'previous_bookings_not_canceled',
 'reserved_room_type',
 'assigned_room_type',
 'booking_changes',
 'deposit_type',
 'agent',
 'company',
 'days_in_waiting_list',
 'customer_type',
 'adr',
 'required_car_parking_spaces',
 'total_of_special_requests',
 'reservation_status',
 'reservation_status_date',
 'Amount of people']

In [66]:
# The adults, children and babies column is eliminated since these are the ones that will be melted
data_top.remove('adults')
data_top.remove('children')
data_top.remove('babies')
# pandas.melt is used to reorganize the dataframe structure
dfHotelBooking=dfHotelBooking.melt(data_top, var_name='A group of people')

In [67]:
dfHotelBooking

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,meal,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Amount of people,A group of people,value
0,Resort Hotel,0,342,2015,July,27,1,0,0,BB,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,2,adults,2
1,Resort Hotel,0,737,2015,July,27,1,0,0,BB,...,0,Transient,0.00,0,0,Check-Out,2015-07-01,2,adults,2
2,Resort Hotel,0,7,2015,July,27,1,0,1,BB,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,adults,1
3,Resort Hotel,0,13,2015,July,27,1,0,1,BB,...,0,Transient,75.00,0,0,Check-Out,2015-07-02,1,adults,1
4,Resort Hotel,0,14,2015,July,27,1,0,2,BB,...,0,Transient,98.00,0,1,Check-Out,2015-07-03,2,adults,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358165,City Hotel,0,23,2017,August,35,30,2,5,BB,...,0,Transient,96.14,0,0,Check-Out,2017-09-06,2,babies,0
358166,City Hotel,0,102,2017,August,35,31,2,5,BB,...,0,Transient,225.43,0,2,Check-Out,2017-09-07,3,babies,0
358167,City Hotel,0,34,2017,August,35,31,2,5,BB,...,0,Transient,157.71,0,4,Check-Out,2017-09-07,2,babies,0
358168,City Hotel,0,109,2017,August,35,31,2,5,BB,...,0,Transient,104.40,0,0,Check-Out,2017-09-07,2,babies,0
358169,City Hotel,0,205,2017,August,35,29,2,7,HB,...,0,Transient,151.20,0,2,Check-Out,2017-09-07,2,babies,0

In [68]:
# The column name is changed
dfHotelBooking= dfHotelBooking.rename(columns = {'value':'Amount'}, inplace = False)

In [69]:
# The drop_duplicates() function returns a dataframe with duplicate rows removed
dfHotelBooking.drop_duplicates(inplace=True)

In [70]:
# Filter columns, leaving only the values that have 2015 in the arrival year column
dfHotelBooking = dfHotelBooking.loc[dfHotelBooking['arrival_date_year'] == 2015]

In [71]:
# It is verified that the filter was performed, now there are fewer columns
dfHotelBooking.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39937 entries, 0 to 342538
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           39937 non-null  object
 1   is_canceled                     39937 non-null  int64
 2   lead_time                       39937 non-null  int64
 3   arrival_date_year               39937 non-null  int64
 4   arrival_date_month              39937 non-null  object
 5   arrival_date_week_number        39937 non-null  int64
 6   arrival_date_day_of_month       39937 non-null  int64
 7   stays_in_weekend_nights         39937 non-null  int64
 8   stays_in_week_nights            39937 non-null  int64
 9   meal                            39937 non-null  object
 10  country                         39937 non-null  object
 11  market_segment                  39937 non-null  object
 12  distribution_channel            39937 non-null  object
 13  is_repeated_guest               39937 non-null  int64
 14  previous_cancellations          39937 non-null  int64
 15  previous_bookings_not_canceled  39937 non-null  int64
 16  reserved_room_type              39937 non-null  object
 17  assigned_room_type              39937 non-null  object
 18  booking_changes                 39937 non-null  int64
 19  deposit_type                    39937 non-null  object
 20  agent                           39937 non-null  float64
 21  company                         39937 non-null  float64
 22  days_in_waiting_list            39937 non-null  int64
 23  customer_type                   39937 non-null  object
 24  adr                             39937 non-null  float64
 25  required_car_parking_spaces     39937 non-null  int64
 26  total_of_special_requests       39937 non-null  int64
 27  reservation_status              39937 non-null  object
 28  reservation_status_date         39937 non-null  object
 29  Amount of people                39937 non-null  int32
 30  A group of people               39937 non-null  object
 31  Amount                          39937 non-null  int32
dtypes: float64(3), int32(2), int64(14), object(13)
memory usage: 9.8+ MB

In [72]:
# Create a column with random numbers or values, which are delivered in an array
dfHotelBooking['randNumCol'] = np.random.choice(['cool', 9, 20], dfHotelBooking.shape[0])

In [73]:
# Applying multiple aggregation functions to a grouping of data made with group by
# the numerical value that the aggregation functions will use must be added to the list, in this case it is quantity
dfHotelBooking = dfHotelBooking.query('country != 0')
dfHotelBooking = dfHotelBooking[['country','A group of people','Amount']].groupby(['country','A group of people']).agg(['mean','count'])
dfHotelBooking.head()

                             Amount
                               mean count
country A group of people
AGO     adults             1.454545    44
        babies             0.000000    44
        children           0.204545    44
ALB     adults             2.000000     2
        babies             0.000000     2

In [74]:
# The columns are organized again, eliminating an index level and resetting it
# a level is removed
dfHotelBooking.columns = dfHotelBooking.columns.droplevel()

In [75]:
# The index is reset
dfHotelBooking = dfHotelBooking.reset_index()

In [76]:
# You can generate a column with a ranking, the method is min so the smallest value will have the first place
# is applied by the mean column
dfHotelBooking['rank'] = dfHotelBooking['mean'].rank(method = 'min')

In [77]:
# You can sort the values with the sort_values function
dfHotelBooking.sort_values('rank',inplace = True)

In [78]:
# With the sample function you can take a sample of the dataset, with a specific number of rows
dfHotelBooking = dfHotelBooking.sample(n=100)

In [79]:
# There is a dataset with 100 rows and 5 columns
dfHotelBooking.shape

(100, 5)

In [80]:
dfHotelBooking

    country A group of people      mean  count   rank
1       AGO            babies  0.000000     44    1.0
60      CYM            adults  2.000000      1  260.0
53      COL          children  0.000000      4    1.0
252     SVK            adults  1.750000      4  232.0
271     TUR            babies  0.000000     18    1.0
..      ...               ...       ...    ...    ...
150     KOR            adults  1.818182     11  241.0
203     NOR          children  0.146341     41  173.0
153     KWT            adults  2.000000      1  260.0
178     MEX            babies  0.000000     17    1.0
59      CRI          children  0.000000      6    1.0

[100 rows x 5 columns]